.footer {
  background:goldenrod ;
  color:  black ;
  font-weight: bold ;
  padding: 40px 0 10px 0;  
  box-shadow:  0 5px 10px 10px lightyellow ;
  margin-top: 50px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-left h2 {
  color: red ;
  margin-bottom: 10px
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  cursor: pointer;
  margin: 10px 0;
  transition: 0.3s;
}

.footer-center ul li:hover {
  color: white
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
