.fresherstempimg {
    width: 100%;
    height: auto; 
    margin-top: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;   
    
    padding: 0 10px; 
    margin-top: 12vh;
}

.fresherstempimg img {
    width: 100vw;
    height: 85vh;    
    object-fit: contain;
    border-radius: 8px; 
}
@media (max-width: 768px) {
    .fresherstempimg {
        margin-top: 5vh;
        height: 80vh;
        padding: 0 5px;
    }

    .fresherstempimg img {
        width: 100vw;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .fresherstempimg {
        margin-top:10vh;
        height:70vh;
    }

    .fresherstempimg img {
        width: 100 vw;
        height: auto;
    }
}
.topNotice {
  position: fixed;
  top: 15vh; 
  left: 50%;
  transform: translateX(-50%);
  background:whitesmoke;
  color:blue;
  height: 80vh;
  padding: 12px 18px;
  border-radius: 10px;
  width: 90vw;
  max-width: 900px;
  z-index: 9999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.noticeClose {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}
.steps{
    padding: 10px;

}
.stepsheading{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.step{
    padding: 10px;
    margin: 10px ;
}
.noticeClose{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}