* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 12vh; 
  background: linear-gradient(135deg, #f9e076, #d4af37);
border: 3px solid white ;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 100000;
  box-shadow: 0px 2px 10px lightyellow ;
}
.userlogo{
  border-radius: 50%;
}

.userlogin{
  display: flex;
flex-direction: column;
color: white;}
.navbar ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.showbtn img {
  cursor: pointer;
  filter: invert(1);
}

.logomgcub {
  height: 45px;
  object-fit: contain;
}

.sitename {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;

  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, #00f2ff, #7a00ff, #ff00c8) border-box;

  border: 2px solid transparent;
  letter-spacing: 1.5px;
  text-align: center;
  white-space: nowrap;
}

.loginbtn {
  display: flex;
  align-items: center;
  gap: 8px;  
    background: linear-gradient(135deg, #f9e076, #f1b62c);
  color: #3b2a00;
  border: 1px solid #d4af37;

  border-radius: 30px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.loginbtn:hover {
    box-shadow: 0 0 15px rgba(255,215,100,0.9);

}

.icon-box i {
  font-size: 18px;
}


@media (max-width: 768px) {
  .navbar {
    height: 10vh;
    padding: 0 15px;
  }

  .sitename {
    font-size: 1.3rem;
    padding: 6px 14px; 
    letter-spacing: 1px;
  }

  .logomgcub {
    height: 40px;
  }

  .loginbtn {
    padding: 6px 14px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 10px;
  }

  .sitename {
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 6px;
  }

  .loginbtn span {
    display: none;
  }

  .loginbtn {
    padding: 6px 12px;
    font-size: 12px;
  }

  .logomgcub {
    height: 35px;
  }
}

@media (max-width: 360px) {
  .sitename {
    display: none;
  }
}
